<%= page_header @lesson.title %>

<div class="well well-lg">
  <%= video_tag @lesson.video_url, controls: true %>
  <p><%= @lesson.description %></p>
  <div class="row">
    <div class="col-sm-6">
      <time><%= l(@lesson.created_at, format: '%-d %B %Y') %></time><br>
    </div>
    <div class="col-sm-6 text-right">
      <b><%= @lesson.course.user.full_name %></b><br>
    </div>
  </div>

  <div class="text-right">
    <% if policy(@lesson).update? %>
      <%= link_to t('links.edit'), edit_lesson_path(@lesson), class: 'btn btn-default' %>
    <% end %>
    <%= link_to t('links.back'), course_path(@lesson.course_id), class: 'btn btn-primary' %>
  </div>
</div>

<%= render 'comments/form', comment: @comment, lesson: @lesson %>
<%= render 'comments/index', comments: @comments %>
