<%= simple_form_for course do |f| %>

  <div class="form-inputs">
    <%= f.input :title, autofocus: true %>
    <%= f.input :description %><br>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <%= link_to t('links.back'), :back, class: 'btn btn-default' %>
  </div><br>
<% end %>
