<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>
   

  <div class="form-inputs">
    <%= f.input :title, autofocus: true %>
    <%= f.input_field :body_markdown, as: :hidden, id: "epiceditor_textarea" %>
    <div id="epiceditor"></div>
    <%= f.input_field :user_id, as: :hidden, value: current_user.id %>
  </div><br>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
