<%= page_header t('views.posts.news_feed') %>

<% @posts.each do |post| %>
  <div class="row well well-lg">
    <div class="col-sm-3">
      <%= image_tag post.picture_url(:thumb), class: 'img-rounded' %>
    </div>
    <div class="col-sm-9">
      <h3><%= link_to post.title, post %></h3>
      <time><%= l(post.created_at, format: '%-d %B %Y') %></time>
      <p><%= truncate_html(post.body_html) %></p>
      <div class="btn-group">
        <%= link_to t('links.show'), post, class: 'btn btn-default' %>
        <% if policy(post).update? %>
          <%= link_to t('links.edit'), edit_post_path(post), class: 'btn btn-info' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
