<%= page_header @post.title %>

<div class="well well-lg">
  <%= image_tag @post.picture_url, class: 'img-rounded' %>
  <%= @post.body_html.html_safe %>
  <% if @post.document.present? %>
    <%= link_to t('links.download_file'), @post.document_url %>
  <% end %>
</div>

<% if policy(@post).update? %>
  <%= link_to t('links.edit'), edit_post_path(@post) %> |
<% end %>
<%= link_to t('links.back'), posts_path %>
