<%= page_header @post.title %>

<div class="well well-lg">
  <%= image_tag @post.picture_url, class: 'center-block img-rounded' %>
  <%= @post.body_html.html_safe %>
  <% if @post.document.present? %>
    <%= link_to t('links.download_file'), @post.document_url %>
  <% end %>

<% if policy(@post).update? %>
  <%= link_to t('links.edit'), edit_post_path(@post), class: 'btn btn-default' %>
<% end %>
<%= link_to t('links.back'), posts_path, class: 'btn btn-primary' %>
</div>
