<%= simple_form_for exam, html: { multipart: true } do |f| %>

  <div class="form-inputs">
    <%= f.input :title, autofocus: true %>
    <%= f.input :description %><br>
    <%= f.input :date, wrapper_html: {class: 'form-inline'} %>
  </div><br>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div><br>
<% end %>
