<%= simple_form_for exam, html: { multipart: true } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, autofocus: true %>
    <%= f.input :description %><br>
    <%= f.input_field :date %>
  </div><br>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
  </div><br>
<% end %>
